* {
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/images/footer_lodyas.png");
    color: white;
}

.gif-plus-img{
    border: 1px solid purple;
    float: left;
    margin: 5px;
}

.rating{
    text-align: center;
}

.banner {
   border-bottom: 2px solid rgb(25, 21, 84);
   padding: 10px 5px;
}

.topics {
    float: left;
    width: 70%;
    text-align: center;
}

#topic-input {
    margin: 15px;
    padding: 2px;
}

button, #add-button {
    margin: 4px;
    background-color: rgb(25, 21, 84);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

#add-button {
    background-color: #000;
    padding: 10px 40px;
    opacity: 0.8;
}

.search-bar {
    float: left;
    width: 30%;
    padding: 10px;
    border-left: 2px solid rgb(25, 21, 84);

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}